#layoutGrid{
    box-shadow: 0px 2px 3px rgb(153, 153, 153);    
    background-color: white;
}

#menuViewport, #subMenuViewport{
    border-style: solid;
    border-width: 1px;
}

#entryScrolledWindow, #overviewGrid, #reportsGrid, #projectionsGrid, #headerGrid, #menuListBox, #subMenuListBox{
    background-color: #F3F3F3;
    /*background-color: #EBEBEB;*/
    /*background-color: #D1D1D1;*/
}
