#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.0.10
Name=Budget
GenericName=Finance 
X-GNOME_FullName=Budget 
Comment=Personal Finance
Keywords=Budget;Finance;Money;
Exec=budget
Icon=budget
Terminal=false
Type=Application
Categories=Budget;Finance;Money;
 
